body{
    background-color: rgba(53, 146, 207, 0.5);
}

td {
    text-align: center; 
    vertical-align: middle;
}

li{
    float: left;
    width: 20%;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: black;
    text-decoration: none;
}

a:active{
    color: black;
    text-decoration: none;
}

#specificParts{
    background-color: #C5EAFA;
}

#barPadding{
    padding-top: 10%;
}

.navbar a{
    font-family: Verdana !important;
	font-size: 13px;
}

.active{
    background-color: rgb(59, 130, 236);
}

.tableCentered{
    margin: 0 auto;
}

.sectionHeaderText{
    font-size: 3em;
    text-align: center;
}

.sectionText{
    font-size: 28px;
    text-align: center;
}

.tableImage{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tableHeaderText{
    font-size: 25px;
    text-align: center;
}

.tableText{
    font-size: 22px;
    text-align: center;
}