{%extends 'base.html' %}
{% load static %}

{% block content %}
    <p class="sectionHeaderText">Academic History</p><br>
    <div class="table-responsive tableCentered" id="specificParts">
        <table width = "900" class="table">
            <tr>
                <th><p class="tableHeaderText">Primary School</p></th>
                <th><p class="tableHeaderText">Junior & Senior<br>High School</p></th>
                <th><p class="tableHeaderText">University</p></th>
            </tr>
            <tr>
                <td><img src="{% static 'images/Kristoforus.jpg' %}" height="250" width="225" class="tableImage"></td>
                <td><img src="{% static 'images/Canisius.jpg' %}" height="250" width="225" class="tableImage"></td>
                <td><img src="{% static 'images/ParkiranFasilkom.jpg' %}" height="250" width="225" class="tableImage"></td>
            </tr>
            <tr>
                <td><p class="tableText">St. Kristoforus II<br>From 2006-2012</p></td>
                <td><p class="tableText">Canisius College<br>From 2012-2018</p></td>
                <td><p class="tableText">University of Indonesia<br>From 2018-current</p></td>
            </tr>
        </table>
    </div>

{% endblock %}