{% extends 'base.html' %}
{% load static %}

{% block content %}
    <p class="sectionHeaderText">Add Schedule</p>
    <br>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{form.as_p}}
        </div>
        <button class="btn btn-outline-info" type="submit">
            Submit
        </button>
    </form>

{% endblock %}