{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Christopher Samuel's Website</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/designWebsite.css' %}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> 
    <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
            </div>
            <div class="container-fluid" id="navBarText"></div>
            <div class="navbar-collapse collapse" id="myNavbar">
            <ul class="nav">
                <li>
                    <a href="{% url 'index' %}">About Me</a></li>
                <li>
                    <a href="{% url 'academicHistory' %}">Academic History</a></li>
                <li>
                    <a href="{% url 'codingSkillset' %}">Coding Skillset</a></li>
                <li>
                    <a href="{% url 'contactMe' %}">Contact Me</a></li>
                <li>
                    <a href="{% url 'orgExperience' %}">Organization Experiences</a></li>
                </ul>
            </div>
        </div>
        </nav>
    
    <div class="wrapper">
        <br><br><br><br>
        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>