{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="codingSkillset">
        <div class="container-responsive">
            <p class="sectionHeaderText">Coding Skillset</p><br><br>
            <p class="sectionText">Here are the programming languages I have learned:</p><br>
            <div class="table-responsive">
                <table width = "600" class="table">
                    <tr>
                        <th width="150"><p class="tableHeaderText">Java</p></th>
                        <th width="150"><p class="tableHeaderText">Python</p></th>
                        <th width="150"><p class="tableHeaderText">C++</p></th>
                        <th width="150"><p class="tableHeaderText">Pascal</p></th>
                    </tr>
                    <tr>
                        <td><img src="{% static 'images/JavaLogo.png' %}" height="125" width="100" class="tableImage"></td>
                        <td><img src="{% static 'images/PythonLogo.png' %}" height="125" width="125" class="tableImage"></td>
                        <td><img src="{% static 'images/C++Logo.png' %}" height="125" width="125" class="tableImage"></td>
                        <td><img src="{% static 'images/PascalLogo.png' %}" height="125" width="125" class="tableImage"></td>
                    </tr>
                </table>
            </div>
        </div>
{% endblock %}