{% extends 'base.html' %}
{% load static %}

{% block content %}
    <p class="sectionHeaderText">You can find me on:</p>
        <div class="table">
            <table class="table">
                <tr>
                    <th><a href="https://line.me/en-US/download">
                        <img src="{% static 'images/LINELogo.png' %}" height="50" width="50" class="tableImage"></a></th>
                    <th><a href="https://www.facebook.com/christopher.samuel.547389">
                        <img src="{% static 'images/FacebookLogo.png' %}" height="50" width="50" class="tableImage img"></a></th>
                    <th><a href="https://twitter.com/HeliosHEX">
                        <img src="{% static 'images/TwitterLogo.png' %}" height="50" width="50" class="tableImage img-rounded"></a></th>
                </tr>
            </table>
        </div>

{% endblock %}