{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lab 9 Christopher Samuel</title>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container-responsive">
        <h1>Pengalamanku Belajar Load Balancing dengan Nginx dan Django</h1>
        Oleh : Christopher Samuel<br>
        Asumsi : sudah ada aplikasi Django yang siap dijalankan di localhost<br><br>
        <p>
            Mungkin bagi para web programmer pemula (termasuk saya), load balancing 
            mungkin merupakan hal yang baru dan asing. Kenyataannya, kita sering sekali
            menemui berbagai website yang menggunakan load balancing, sebut saja Facebook.
            Kali ini, saya ingin membagikan pengalaman dan cara-cara yang saya lakukan
            untuk menyalakan load balancer pertama saya, yaitu nginx untuk Windows, yang akan
            dikombinasikan dengan penggunaan Django sebagai web servernya.
        </p>

        <p>
            <b>1. Sebenarnya, Load Balancer / Balancing Itu Apa Sih?</b><br>
            Load balancing merupakan cara untuk mengarahkan request ke server-server tertentu
            secara merata (atau sesuai kemauan kalau ada server yang menjadi prioritas), sementara
            load balancer adalah alat (program / aplikasi) yang digunakan untuk melakukan load
            balancing. Bayangkan kita melakukan request ke situs seperti Google.
            Kalau mereka menggunakan satu server saja, saat server itu rusak, maka webpage
            tidak bisa diakses, dan pihak pengguna walaupun Google akan mengalami kerugian.
            Ambil kasus lain, misalnya Google mempunyai ribuan server, tetapi request yang masuk
            dilayani dengan satu server saja. Tentu saja server tersebut akan padat dengan request,
            dan akan kesulitan melayani semua request yang datang. Untuk meminimalisir kedua hal tersebut terjadi,
            maka diperlukanlah sebuah load balancer.
        </p>

        <p>
            <b>2. Load Balancer Apa yang Bisa Digunakan?</b><br>
            Sebenarnya ada banyak sekali load balancer di internet, misalnya nginx, Apache, dan Tomcat.
            Untuk kali ini, saya spesifik akan mencoba menjelaskan setup nginx untuk Windows saja,
            karena menurut saya cukup mudah dan merupakan load balancer pertama yang saya gunakan.
        </p>

        <p>
            <b>3. Bagaimana Cara Melakukan Setup nginx di Windows?</b><br>
            Di bagian ini, saya akan mencoba menjelaskan cara men-setup nginx
            di Windows yang saya lakukan. Jelas, langkah pertama adalah mendownload nginx dari 
            situs resminya, yaitu 
            <a href="http://nginx.org/en/download.html">http://nginx.org/en/download.html</a>.
            Saya sendiri merasa karena keperluan kita cukup sederhana, versi mainline bisa didownload dan
            digunakan tanpa banyak masalah, tetapi versi stable juga bisa digunakan. Untuk versi-versi
            legacy, lebih baik jangan digunakan karena merupakan versi lama, dan mungkin ada fitur yang
            tidak ada tetapi akan kita gunakan.<br>
            <img src="{% static 'images/nginxDownload.jpg' %}"><br>
            Setelah didownload dan di extract, cara menyalakan nginx adalah dengan
            membuka terminal (command prompt) di folder dengan file nginx.exe dan masukkan
            command : start nginx. Nah, untuk memastikan apakah nginx berjalan atau tidak, bisa dengan command : 
            tasklist /fi "imagename eq nginx.exe".<br>
            <img src="{% static 'images/startNginx.JPG' %}"><br>
            Untuk men-setup nginx dengan konfigurasi sebagai load balancer, matikan nginx dulu dengan
            nginx -s quit. Lalu, cari directory conf di folder nginx tadi, buatlah copy-an
            backup dari nginx.conf, dan bukalah nginx.conf.
            Isi dari nginx.conf kemudian dirubah sesuai dengan dokumentasi dari nginx sendiri 
            (<a href="https://www.nginx.com/resources/wiki/start/topics/examples/loadbalanceexample/">
                https://www.nginx.com/resources/wiki/start/topics/examples/loadbalanceexample/</a>)
            tanpa menghapus bagian events dari kode awalnya, sehingga kira-kira isinya seperti berikut:<br>
            <img src="{% static 'images/nginxConf.JPG' %}"><br>
            Untuk penjelasan : pada dasarnya, kita meminta agar saat localhost port 80 diakses,
            nginx akan mengambil webpage dari localhost port 8000, 8001, 8002, dan 8003, dengan prioritas
            tertinggi oleh localhost:8000 (weight nya). Port-port yang diakses oleh nginx dapat
            kita ubah-ubah sesuka hati, tetapi untuk sementara saya mendiamkannya seperti itu saja.
            Setelah itu, kembali nyalakan nginx dan masukkan command :
            nginx -s reload untuk meng-update konfigurasi nginx dari nginx.conf yang baru kita ubah tadi.
        </p>
            
        <p>
            <b>4. Cara Memeriksa Apakah Load Balancer Berjalan?</b><br>
            Untuk bagian ini, kita perlu menyalakan aplikasi sebuah Django, setidaknya di 2
            server yang berbeda sesuai dengan yang sudah kita atur di nginx.conf, yang tentunya
            membutuhkan 2 terminal berbeda, seperti berikut:<br>
            <img src="{% static 'images/runserver.JPG' %}"><br>
            Setelah itu, bukalah localhost:80 dan refresh page beberapa kali. Sambil me-refresh halaman,
            perhatikanlah kedua terminal tadi. Load balancer akan secara otomatis memilih server mana
            yang harus diakses, dan karena tadi ada weight dari port 8000, maka port 8000 akan diakses
            beberapa kali sebelum load balancer mengakses port yang lain.<br>
            <img src="{% static 'images/loadBalancing.JPG' %}"><br>
            Kurang lebih, inilah langkah-langkah untuk mengetes apakah load balancer kita bekerja atau tidak.
        </p>

        <p>
            Akhir kata, saya berharap pengalaman saya bermanfaat, terutama bagi yang memang tertarik
            dengan web development menggunakan server dan load balancing. Terima kasih atas perhatiannya!
        </p>
    </div>
</body>
</html>