{% extends 'base.html' %}
{% load static %}

{% block content %} 
        <img src="{% static 'images/FotoChristopherSamuel.jpg' %}" height="300" width="250" class="img-responsive center-block" id="aboutMe"><br><br>
        <p class="sectionHeaderText">Hi! My name is Christopher Samuel!</p>
        <p class="sectionText" id="specificParts">I'm a passionate 19 year old Java/Python Programmer from Indonesia, 
            currently studying in University of Indonesia for an undergraduate's degree in 
            Computer Science.</p>
        <br><br><br><br>
        <p class="sectionHeaderText">Here's My Schedule!</p>

        <a href="{% url 'addSchedule' %}">
            <button class="btn-primary">Add Schedule</button>
        </a>
        <div class="table">
            <table class="table-responsive" border=1>
                <tr>
                    <th><p class="tableHeaderText">Day of Activity</p></th>
                    <th><p class="tableHeaderText">Date of Activity</p></th>
                    <th><p class="tableHeaderText">Hour of Activity</p></th>
                    <th><p class="tableHeaderText">Name of Activity</p></th>
                    <th><p class="tableHeaderText">Location of Activity</p></th>
                    <th><p class="tableHeaderText">Category of Activity</p></th>
                </tr>
                {% for item in query %}
                <tr> 
                    <td><p class="tableText">{{ item.hari }}</p></td>
                    <td><p class="tableText">{{ item.tanggal }}</p></td>
                    <td><p class="tableText">{{ item.jam }}</p></td>
                    <td><p class="tableText">{{ item.kegiatan }}</p></td>
                    <td><p class="tableText">{{ item.tempat }}</p></td>
                    <td><p class="tableText">{{ item.kategori }}</p></td>
                    <td><a href="{% url 'deleteRow' item.id %}">
                        <button class="btn btn-warning">Delete</button>
                    </a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
{% endblock %}