{% extends 'base.html' %}
{% load static %}

{% block content %}
    <p class="sectionHeaderText">Past Organization Experiences</p><br>
    <div class="container">
        <div class="table">
            <table border ="1" class="table-responsive">
                <tr>
                    <th><p class="tableHeaderText">Year</p></th>
                    <th><p class="tableHeaderText">What I Did</p></th>
                </tr>
                <tr>
                    <td><p class="tableText">2016</td>
                    <td><p class="tableText">Head of the Science Fair committee of EduFair in Canisius
                            Senior High School</td>
                </tr>
                <tr>
                    <td><p class="tableText">2017</td>
                    <td><p class="tableText">Member of the Science Fair committee of CASANOVA in Canisius
                            Senior High School</td>
                </tr>
                <tr>
                    <td><p class="tableText">2018</td>
                    <td><p class="tableText">Member of the Scoial Project 2018 committee in
                            University of Indonesia's Faculty of Computer Science</td>
                </tr>
                <tr>
                    <td><p class="tableText">2019</td>
                    <td><p class="tableText">Member of the Food and Beverages committee of COMPFEST XI in
                            University of Indonesia's Faculty of Computer Science</td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}